@mixin translate($x:-50%,$y:-50%){
  -webkit-transform: translate($x,$y);
  -moz-transform: translate($x,$y);
  -ms-transform: translate($x,$y);
  -o-transform: translate($x,$y);
  transform: translate($x,$y);
}
.block{
  display:block!important;
}
@mixin triangle{
  position: absolute;
  left: 50%;
  width: 0;
  margin-left:-14px;
  height: 0;
  border: 10px solid transparent;
}